<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{mails.password-reset.title}">JiraRush - установить новый пароль</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{mails.password-reset.greetings} + ', ' + ${user.firstName} + '.'"/>
<p th:text="#{mails.password-reset.request} + ': ' + ${user.email} + '.'"/>
<a th:href="${resetUrl}" th:text="#{mails.button.reset}">Установить пароль11</a>
</body>
</html>